.titles {
    width: 100%;
    border-top: 1px solid rgba(183, 171, 152, 0.25);

 

    .title {
        border-bottom: 1px solid rgba(183, 171, 152, 0.25);
        cursor: default;
        position: relative;
        z-index: 2;

        .wrapper {
            display: inline-block;
            //width: 100%;
            padding-left: 10%;
            position: relative;
            z-index: 2;
            //clip-path: polygon(0 0, 88% 0, 100% 12%, 100% 99%, 12% 100%, 0 89%);
        }

        p {
            display: inline-block;
            color: #b7ab98;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 6vw;
            line-height: 5.5vw;
            margin: 0px;
            position: relative;
            z-index: 2;

            &:nth-of-type(2) {
                display: block;
                position: absolute;
                color: #1c1c1c;
                top: 0;
                z-index: 1;
            }
        }
    }
}