.main{
    height: 100vh;
    width: 100vw;
    background-image: url(../../public/Homebackground.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 103% 128%;
    position: relative;
}